torch>=1.7.1
torchvision
gradio
diffusers
pytorch_lightning
transformers
facexlib
timm
opencv-python
einops
scikit-image
scipy
lpips
addict
pyyaml
gdown
replicate
requests
insightface==0.7.3
onnxruntime